:host {
	display: block;
	height: 100%;
	min-height: 100vh;
}

.surface {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	touch-action: none;
	user-select: none;
	box-sizing: border-box;
}

.surface svg.hud {
	position: absolute;
	inset: 0;
	pointer-events: none;
}


